main{
    margin-top: 8rem;
}

/*utilites starts*/
.hide{
    display:none;
}
/*utilites ends*/


/* material-symbols starts*/
.material-symbols-outlined{
    font-size: 1rem;
}
/* material-symbols ends*/

/* Select2 CSS Starts*/
.select2-container{
    background-color: #e6e6e6; /* Bootstrap primary color */
    border: 1px solid #ffffffb7; /* Darker primary color */
    border-radius: 0.25rem; /* Small rounded corners */
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
}
/* Select2 CSS Ends*/


/*job list page starts*/
.job-card-container{
    gap: 2.5rem 
}
.job-card{
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.job-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*job list page ends*/



/*job landing page starts*/
.job-action-icon{
    margin-right: 0.8rem;
    transform: translateY(0px);
    font-size: 1.5rem;
    transition: transform 100ms ease-in-out;
}
.job-action-icon:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
/*job landing page ends*/
